In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
file = pd.read_csv('Data/heart_disease_uci.csv')

In [3]:
file.head(3)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1

In [11]:
file['sex'].unique()
# Here we are just trying to find if there are any outlier present in there or not
# And also we are trying to find the number of unique values present there

array(['Male', 'Female'], dtype=object)

In [12]:
file['dataset'].unique()

array(['Cleveland', 'Hungary', 'Switzerland', 'VA Long Beach'],
      dtype=object)

In [13]:
file['cp'].unique()

array(['typical angina', 'asymptomatic', 'non-anginal', 'atypical angina'],
      dtype=object)

In [14]:
file['fbs'].unique()

array([True, False, nan], dtype=object)

In [15]:
file['restecg'].unique()

array(['lv hypertrophy', 'normal', 'st-t abnormality', nan], dtype=object)

In [16]:
file['exang'].unique()

array([False, True, nan], dtype=object)

In [17]:
file['slope'].unique()

array(['downsloping', 'flat', 'upsloping', nan], dtype=object)

In [18]:
file['thal'].unique()

array(['fixed defect', 'normal', 'reversable defect', nan], dtype=object)

In [19]:
len(file)
# Here length of the whole dataset i.e number of rows present will be returned

920

In [20]:
file.isna().sum()
# This will give use the total number of null values present in the dataset

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64