In [26]:
import pandas as pd

In [27]:
home_prices = pd.read_csv('homeprices multi variate.csv')

In [28]:
home_prices

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [29]:
home_prices.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [30]:
home_prices['bedrooms'].fillna(3, inplace=True)

In [31]:
home_prices

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
X = home_prices.drop("price", axis=1)
y = home_prices["price"]

model = LinearRegression()

model.fit(X, y)

LinearRegression()

In [34]:
model.predict([[3000, 3, 40]])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([486498.55212355])

In [35]:
# exporting the model
import pickle

with open("Home_price_prediction.pkl", "wb") as f:
    pickle.dump(model, f)

## Exercise`

In [36]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [37]:
%matplotlib inline

In [38]:
salary_data = pd.read_csv('hiring.csv')

In [39]:
salary_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [40]:
salary_data["test_score(out of 10)"].fillna(np.mean(salary_data["test_score(out of 10)"]), inplace=True)

In [41]:
salary_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN               8.000000                           9      50000
1        NaN               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

In [42]:
from word2number import w2n

def get_numbers(var):
    var = str(var)
    if var.lower() == 'nan':
        return None  # Use None instead of Null
    else:
        return w2n.word_to_num(var)

In [43]:
type(salary_data["experience"][2])

str

In [44]:
salary_data["experience"] = salary_data["experience"].apply(get_numbers)

In [45]:
salary_data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         NaN               8.000000                           9      50000
1         NaN               8.000000                           6      45000
2         5.0               6.000000                           7      60000
3         2.0              10.000000                          10      65000
4         7.0               9.000000                           6      70000
5         3.0               7.000000                          10      62000
6        10.0               7.857143                           7      72000
7        11.0               7.000000                           8      80000

In [46]:
salary_data["experience"].fillna(0, inplace = True)

In [47]:
salary_data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         0.0               8.000000                           9      50000
1         0.0               8.000000                           6      45000
2         5.0               6.000000                           7      60000
3         2.0              10.000000                          10      65000
4         7.0               9.000000                           6      70000
5         3.0               7.000000                          10      62000
6        10.0               7.857143                           7      72000
7        11.0               7.000000                           8      80000

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
X = salary_data.drop("salary($)", axis = 1)
y = salary_data["salary($)"]

model = LinearRegression()

model.fit(X, y)

LinearRegression()

In [50]:
model.predict([[0, 9, 10]])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([56423.52572958])

In [51]:
# export the model

with open("Salary_model.pkl", "wb") as f:
    pickle.dump(model, f)