In [2]:
import numpy as np
import pandas as pd

In [6]:
quantity_array = np.array([[2,7,1],
                        [9,4,16],
                        [11,14,18],
                        [13,13,16],
                        [15,18,9]])

In [7]:
price_array = np.array([10, 8, 12])

In [9]:
quantity_array.shape, price_array.shape

((5, 3), (3,))

In [10]:
np.dot(quantity_array, price_array)

array([ 88, 314, 438, 426, 402])

In [11]:
quantity_dataframe = pd.DataFrame(quantity_array, 
                                  index=["Mon", "Tue", "Wed", "Thu", "Fri"],
                                  columns=["Almond Butter", "Peanut Butter", "Cashew Butter"]
                                 )

In [13]:
price_dataframe = pd.DataFrame(price_array, 
                              index = ["Almond Butter", "Peanut Butter", "Cashew Butter"])

In [15]:
quantity_dataframe

     Almond Butter  Peanut Butter  Cashew Butter
Mon              2              7              1
Tue              9              4             16
Wed             11             14             18
Thu             13             13             16
Fri             15             18              9

In [17]:
price_dataframe.transpose()

   Almond Butter  Peanut Butter  Cashew Butter
0             10              8             12

In [19]:
quantity_dataframe["Total Amount"] = quantity_dataframe.dot(price_dataframe)

In [20]:
quantity_dataframe

     Almond Butter  Peanut Butter  Cashew Butter  Total Amount
Mon              2              7              1            88
Tue              9              4             16           314
Wed             11             14             18           438
Thu             13             13             16           426
Fri             15             18              9           402