In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Three main things to done
1. Split the data into features and lables
2. filling or removing the missing values
3. Converting non numnerical to numerical values

In [4]:
heart_disease = pd.read_csv('Data/heart-disease.csv')

In [5]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# X is the variable where all the independent data that has to be trained by the machine learning model hence we have to make sure that the data will be stored in the variable X
X = heart_disease.drop("target", axis=1)
# axis 1 refers to the columns

In [7]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [8]:
# y will have all the data that is considers as the dependent data 
Y = heart_disease.target

In [9]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

Now the data that has been separated has to be splitted into training and testing dataset
That will help us to test the results of the model based on the value that we will get
Evaluation can be done on the basis of the score that we get by testing the data on the data that was not added into the dataset

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, train_size=0.8)

In [12]:
len(X), len(Y), len(X_train), len(X_train), len(X_test), len(Y_test)

(303, 303, 242, 242, 61, 61)

In [13]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [14]:
# We have to make sure that all the data has to be numerical
# Here heart disase has all the data in the numerical form
# Lets get the car sales data which has string data and then convert that data into numbers

In [15]:
cars_sales = pd.read_csv('Data/car-sales-extended.csv')

In [16]:
cars_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [17]:
# Lets just divide the data into X and Y and then split that data into training and testing dataset such that they can be feed to machine learning

In [18]:
X = cars_sales.drop("Price", axis=1)
Y = cars_sales.Price

In [19]:
# Now lets split this data into traning and testing data
X_train, X_test, y_train, y_test = train_test_split(X, Y, train_size=0.8)

In [20]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((800, 4), (200, 4), (800,), (200,))

In [21]:
# Build the machine learning model

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
model = RandomForestRegressor()

# model.fit(X_train, y_train)

# Look we will get the error as these models can't get the string values
# We have to convert the string values in the number values

In [24]:
# Now we need a dataset where we can convert the text data into numbers for that lets import the car sales dataset

In [25]:
# Here we will convert the strings into number
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [26]:
cars_sales["Doors"].value_counts()
# This is used to get the number of each category

4    856
5     79
3     65
Name: Doors, dtype: int64

In [28]:
one_hot = OneHotEncoder()
# The object is made to access the functionalities of the one_hot encoder

categorical_feature = ["Make", "Colour", "Doors"]
# This is the list which we will be using to give to the transformer to tell that these are the features that we want to convert the strings into the number

transformer = ColumnTransformer(
    [("one_hot",
     one_hot,
     categorical_feature)], 
    remainder='passthrough'
)
# First two lines of parameters are telling us about the encoding that we are using one_hot object
# categorical_feature is the list of the features that we want to convert into numbers
# Here Doors is added into the features as there are three categories that we want to convert to numbers
# remainder is the value which tells that rest of the column which are not included in the conversion and they need to be passthrough i.e they need to be passed

transformed_X = transformer.fit_transform(X)

transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [29]:
pd.DataFrame(transformed_X).head()
# Here the dataframe such that we have converted the features included in the dataframe
# Last column is as it is as it as not included in the features columns

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [30]:
# we can do the same thing using dummies
dummies = pd.get_dummies(cars_sales[["Colour", "Make", "Doors"]])

In [31]:
dummies.head()

,Doors,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota
0,4,0,0,0,0,1,0,1,0,0
1,5,0,1,0,0,0,1,0,0,0
2,4,0,0,0,0,1,0,1,0,0
3,4,0,0,0,0,1,0,0,0,1
4,3,0,1,0,0,0,0,0,1,0

In [32]:
# lets try and refit the model

In [33]:
X_train, X_test, y_train, y_test = train_test_split(transformed_X, Y
                                                   , test_size=0.8)

In [34]:
X_train.shape

(200, 13)

In [35]:
y_train.shape

(200,)

In [36]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [37]:
model.score(X_test, y_test)

0.18076413872221975

In [38]:
# Here we made to fit our model
# Even though the score of the model is too low but important point to note here is that we have learnt how to convert the string to number