In [38]:
import pandas as pd
import numpy as np

In [39]:
file = pd.read_csv('Data/heart-disease.csv')

In [40]:
file

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [41]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score 
def get_report(y_true, y_pred):
    matric = {
        "Accuracy" : accuracy_score(y_true, y_pred), 
        "Precision" : precision_score(y_true, y_pred),
        "Recall" : recall_score(y_true, y_pred),
        "F1 Score" : f1_score(y_true, y_pred)
    }
    
    return matric

In [42]:
shuffled_file = file.sample(frac=1)
len(shuffled_file)

303

In [43]:
train_index = round(0.7 * len(shuffled_file))
valid_index = round(train_index + 0.15 * len(shuffled_file))

train_index, valid_index

(212, 257)

In [44]:
X = shuffled_file.drop("target", axis=1);
y = shuffled_file['target']

In [45]:
X_train, y_train = X[:train_index], y[:train_index]
X_valid, y_valid = X[train_index:valid_index], y[train_index:valid_index]
X_test, y_test = X[valid_index:], y[valid_index:]

len(X_train), len(X_valid), len(X_test)

C:\Users\admin\AppData\Local\Temp\ipykernel_17764\974828979.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  X_train, y_train = X[:train_index], y[:train_index]
C:\Users\admin\AppData\Local\Temp\ipykernel_17764\974828979.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  X_valid, y_valid = X[train_index:valid_index], y[train_index:valid_index]
C:\Users\admin\AppData\Local\Temp\ipykernel_17764\974828979.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  X_test, y_test = X[valid_index:], y[valid_index:]

(212, 45, 46)

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
clf = RandomForestClassifier()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_valid)

get_report(y_valid, y_pred)

{'Accuracy': 0.7333333333333333,
 'Precision': 0.7083333333333334,
 'Recall': 0.7727272727272727,
 'F1 Score': 0.7391304347826088}

In [48]:
# we can tune the model manually typing in different parameters

In [49]:
clf = RandomForestClassifier(n_estimators=1000, criterion="entropy")

clf.fit(X_train, y_train)

y_pred = clf.predict(X_valid)

get_report(y_valid, y_pred)

{'Accuracy': 0.7555555555555555,
 'Precision': 0.72,
 'Recall': 0.8181818181818182,
 'F1 Score': 0.7659574468085107}

In [ ]:
# and we can do this all day long