In [1]:
import pandas as pd

In [2]:
cars_data = pd.read_csv("car_sales.csv")

In [3]:
cars_data

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [4]:
# Now we will try to describe the data by using the pandas

In [6]:
# lets try to take datatype of each of the column
cars_data.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [7]:
# we can extract the name of the columns also
cars_data.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [8]:
# we can get the details of the indices that we will be explored
cars_data.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
# describe is a function which is used to get all the statistical information about the dataframe
# This statistical information includes the data as given below
cars_data.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [11]:
# we can also get the basic information using the info
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [16]:
# The mean of the data can be found using the mean function
cars_data.mean()

C:\Users\admin\AppData\Local\Temp\ipykernel_12332\2367044841.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cars_data.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [13]:
car_prices = pd.Series([1000, 1500, 2000, 2500, 3000])

In [17]:
# mean of the series can also be found out using the mean function
car_prices.mean()

2000.0

In [18]:
# sum function is used to get the sum of data members in the columns
cars_data.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [19]:
# we can sum from specific columns also 
# and also from group of columns also

In [20]:
cars_data["Doors"].sum()

40

In [35]:
cars_data[["Doors", "Odometer (KM)"]].sum()

Doors                40
Odometer (KM)    786014
dtype: int64

In [36]:
# Now we can get the sum of desired columns

In [38]:
# Total number of elements can be found using len() methods
len(cars_data)

10