In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv('spam.csv')

In [3]:
file.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
file.isna().sum()

Category    0
Message     0
dtype: int64

In [5]:
len(file)

5572

In [9]:
file['spam'] = file['Category'].apply(lambda x : 1 if x == 'spam' else 0)

X = file.drop(['Category', 'spam'], axis=1)
y = file['spam']

In [18]:
X.head()

                                             Message
0  Go until jurong point, crazy.. Available only ...
1                      Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup fina...
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives aro...

In [19]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: spam, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

X_train_count = vectorizer.fit_transform(X_train)

In [30]:
X_train_count.dtype

dtype('int64')

In [32]:
vectorizer.get_feature_names_out()

array(['message'], dtype=object)